@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
.Quiz-body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6a5be2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  flex: 1 1 auto;
}

.Quiz {
  width: 500px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  position: relative;
}
.Quiz .result {
  text-align: center;
}
.Quiz .result button {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  border-radius: 30px;
  border: 0;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #f00067;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.Quiz .result h2 {
  margin-bottom: 0;
}
.Quiz .result img {
  width: 150px;
}
.Quiz .progress {
  height: 10px;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 25px;
}
.Quiz .progress__inner {
  height: 100%;
  border-radius: 30px;
  width: 80%;
  background: rgb(18, 231, 48);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, rgb(18, 231, 48) 0%, rgb(0, 212, 255) 100%);
}
.Quiz:before, .Quiz:after {
  content: "";
  display: block;
  height: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.Quiz:before {
  width: 95%;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 0;
}
.Quiz:after {
  width: 90%;
  bottom: -20px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}
.Quiz h1 {
  margin: 0;
}
.Quiz ul {
  list-style: none;
  padding: 0;
}
.Quiz ul li {
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.Quiz ul li:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}